useDynLib(Bfiat)

import(deSolve, Btrait)
importFrom("stats", "na.omit", "uniroot")
importFrom("graphics", "par")
importFrom("stats", "reshape")
importFrom("grDevices", "grey.colors")
importFrom("stats", "aggregate")
importFrom("utils", "stack")

export(run_perturb, run_logistic)
export(steady_perturb, steady_metier, steady_logistic)
export(density_perturb, density_logistic, density_metier)

export(trawl_perturb, trawl_metier) 

export(get_Db_model, get_irr_model, get_trait_model)
export(par_d, par_K, par_r, par_m) 
